<div class="container-fluid bg-secondary">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SPORTS STORE</a>
      <cart-summary></cart-summary>
    </div>
  </div>

  <div class="row">
    <div class="col-3 p-2">
      <button
        class="btn btn-block btn-outline-dark bg-warning"
        (click)="changeCategory()"
        (click)="changePage(1)"
      >
        HOME
      </button>
      <button
        *ngFor="let category of categories"
        class="btn btn-block btn-outline-dark bg-warning btn-block"
        [class.active]="category == selectedCategory"
        (click)="changeCategory(category)"
        (click)="changePage(1)"
      >
        {{ category }}
      </button>
      <button class="btn btn-block btn-danger" routerLink="/admin">Admin</button>
    </div>

    <div class="col-9 p-2">
      <div *ngFor="let product of paginatedProducts" class="card m-1 p-1 bg-light">
        <h4>
          {{ product.name }}
          <span class="badge badge-pill badge-success float-right">
            {{ product.price | currency: "USD":"symbol":"2.2-2" }}
          </span>
          <!-- <span class="badge badge-pill badge-dark float-left">
            {{product.price | addTax:(20)}}
          </span> -->
        </h4>

        <div class="card-text bg-white p-1">
          {{ product.description | titlecase }}
          <button
            class="btn btn-warning btn-sm float-right"
            (click)="addProductToCart(product)"
          >
            Add to cart
          </button>
        </div>
      </div>
      <div class="form-inline float-left mr-1">
        <select
          class="form-control btn-outline-dark bg-warning"
          [value]="productsPerPage"
          (change)="changePageSize($event.target.value)"
        >
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="8">8</option>
        </select>
      </div>
      <div class="btn-group float-right">
        <!-- <button
          class="btn btn-outline-dark"
          *ngFor="let page of pageNumbers"
          (click)="changePage(page)"
          [class.active]="page == selectedPage"
        > -->
        <button
          class="btn btn-outline-dark bg-warning"
          *counter="let page of pageCount"
          (click)="changePage(page)"
          [class.active]="page == selectedPage"
        >
          {{ page }}
        </button>
      </div>
    </div>
  </div>
</div>
